/* Styling for standard HTML tags. */
body {
    color: white;   /* Change default font color from black to white due to dark background. */
}

p {
    margin: 0;      /* Remove default margin around paragraphs which are used to display metadata for focused games. */    
}

/* Headline at top of screen */
h4 {
    position: relative;
    top: 70px;
    left: 60px;
}

/* Headline at top of modal dialog. */
h5 {
    font-size: 30px;
    font-weight: 700;
}

/* Background image spanning entire screen. Assigned to root element. */
.bgImage {
    background-image: url('../images/mlb_background.jpg');
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 1920px 1080px;
    width: 100%;
    height: 1080px;
}

/* Root element of the display module. Spans entire screen. */
.gamesContainer {
    position: absolute;
    left: 0;
    top: 0;
}

.dateButtons {
    position: relative;
    top: 40px;
    left: 60px;
}

#prevDate, #nextDate {
    height: 54px;
    line-height: 54px;
    font-size: 15px;
    padding: 0 28px;
    text-decoration: none;
    color: white;
    background-color: #26a69a;
    text-align: center;
    letter-spacing: .5px;
    cursor: pointer;
    outline: 0;
    border: none;
    border-radius: 2px;
    display: inline-block;
    text-transform: uppercase;
    vertical-align: middle;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-weight: normal;
}

#nextDate {
    margin-left: 30px;
}

/* Represents all of the game elements spanning multiple rows based on number of games. */
.gamesRow {
    position: relative;
    top: 100px;
    left: 60px;         /* Since we are not centering the game cells, provide spacing from left edge of screen. */
    width: 1860px;      /* Remaining width after subtracting left distance (1920 - 60 = 1860px). We need this or else game cells 
                           mysteriously wrap to a second row when there are few games, despite room for up to 7 in first row. */
}

/* The metadata shown above and below the focused game image. */
.gameCaptions {
    margin-right: 2%;
    margin-bottom: 2%;
    display: inline-block;  /* Display game cells next to each other in horizontal rows, up to 7 per row, rather than vertically. 
                               This is preferable to 'float: left' which causes elements in rows 2 and 3 to jump after focused 
                               element in prior row. We would need to keep track of when game cells move to successive rows and
                               clear the float for each new row. */
    text-align: center;
}

/* The description metadata caption requires a strict width setting or else it won't word wrap and would spill out into next sibling div. */
p.desc {
    width: 209px;
}

/* Hide the captions for unfocused game cells. */
.hiddenCaption {
    visibility: hidden;
}

/* Need a container around image so a gray rectangle placeholder can appear when there is no image available. */
.gameImage {
    width: 209px;
    height: 118px;
    background-color: darkgray;
    margin-top: 10px;               /* Spacing between team names/scores and image. */
    margin-bottom: 10px;            /* Spacing between image and headline. */
    visibility: visible;            /* Ensure that image is always visible while we toggle visibility of outer gameCaptions div. */
}

/* Don't let image be its natural size. Limit image width and height to that of its container. */
.gameImage img {
    width: 100%;
    height: 100%;
}

/* === MODAL DIALOG === */
/* Modal container stretching full screen and grayed out (background). */
.modal {
    display: none;                  /* Hidden by default. */
    position: fixed;                /* Stay in place. */
    z-index: 1;                     /* Sit on top. */
    padding-top: 190px;             /* Location of the box. */
    left: 0;
    top: 0;
    width: 100%;                    /* Full width. */
    height: 100%;                   /* Full height. */
    overflow: hidden;               /* Disable scroll if content does not fit. */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
}
  
  /* Modal content for the inner dialog that is not grayed out. */
.modalContent {
    color: black;
    background-color: #fefefe;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    height: 600px;
}

#modalSubheading {
    font-size: 20px;
    font-weight: 700;
}

.modelImageSubheading {
    float: left;
    width: 700px;
}

#modalBlurb, #modalContributors {
    margin-top: 20px;
}

.modalBlurbAuthors {
    float: left;
    width: 600px;
    font-size: 24px;
    margin-left: 50px;
}

.escapeTip {
    position: relative;
    bottom: -86px;
    right: -520px;
    font-size: 16px;
    display: inline-block;          /* Shrinkwrap div around content. */
    /* color: #7b1fa2; */
    color: #26a69a;
}

.escapeKey {    /* Create what kind of resembles the Escape key. */
    border: 2px solid black;
    border-radius: 15%;
    padding: 4px;
    display: inline-block;          /* Shrinkwrap div around content. */
    margin-left: 5px;
    margin-right: 5px;
    font-weight: 500;
}
